/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

@custom-media --mobile-only (max-width: 767px);
@custom-media --tablet-only (min-width: 768px) and (max-width: 959px);
@custom-media --desktop-only (min-width: 960px) and (max-width: 1151px);
@custom-media --widescreen-only (min-width: 1152px) and (max-width: 1343px);
@custom-media --ultra-widescreen-only (min-width: 1344px);

.hide-mobile {
	display: none ?if media (--mobile-only);
}

.hide-tablet {
	display: none ?if media (--tablet-only);
}

.hide-desktop {
	display: none ?if media (--desktop-only);
}

.hide-widescreen {
	display: none ?if media (--widescreen-only);
}

.hide-ultra-widescreen {
	display: none ?if media (--ultra-widescreen-only);
}
