
/**
* The following styles get applied both on the front of your site
* and in the editor.
*/

@import "~@wordpress/base-styles/breakpoints";
$prefix: sixa;

@mixin mobile-only {

	@media (max-width: #{$break-medium - 1}) {
		@content;
	}
}

@mixin tablet-only {

	@media (min-width: #{$break-medium}) and (max-width: #{$break-large - 1}) {
		@content;
	}
}

@mixin desktop-only {

	@media (min-width: #{$break-large}) and (max-width: #{$break-wide - 1}) {
		@content;
	}
}

@mixin widescreen-only {

	@media (min-width: #{$break-wide}) {
		@content;
	}
}

@include mobile-only {
	.#{$prefix}-hide-mobile {
		display: none;
	}
}

@include tablet-only {
	.#{$prefix}-hide-tablet {
		display: none;
	}
}

@include desktop-only {
	.#{$prefix}-hide-laptop {
		display: none;
	}
}

@include widescreen-only {
	.#{$prefix}-hide-widescreen {
		display: none;
	}
}
